html, body, #root {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #0B0F1B;
  --white: #FFF;
  --yellow: #F6CF4F;
  --dark-yellow: #E4BF48;
  --light-grey: #EEE;
  --grey: #AAA;
  --red: #C73C3E;
  --green: #3D9465;
}