html, body, #root {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #0B0F1B;
  --white: #FFF;
  --light-yellow: #F8DD83;
  --yellow: #F6CF4F;
  --dark-yellow: #D8A80B;
  --light-grey: #EEE;
  --grey: #AAA;
  --dark-grey: #555;
  --red: #C73C3E;
  --green: #3D9465;
  --purple: #6D55A6;
  --divider-color: #EEEDEF;
}