html, body, #root {
  height: 100%;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
}

*:hover::-webkit-scrollbar-track {
  background-color: var(--grey);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: transparent;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

:root {
  --black: #0B0F1B;
  --white: #FFF;
  --light-yellow: #F8DD83;
  --yellow: #F6CF4F;
  --dark-yellow: #D8A80B;
  --light-grey: #EEE;
  --grey: #AAA;
  --dark-grey: #555;
  --red: #C73C3E;
  --green: #3D9465;
  --purple: #6D55A6;
  --divider-color: #EEEDEF;
}